/* Myitem class is stying for tasks */
.myitem {
  text-decoration: none;
  cursor: pointer;
  padding: 9px;
  color: white;
  font-size: 18px;
  margin: 1px;
  transition: 0.2s;
  display: flex;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: sans-serif;
  font-size: 1.2em;
}
.myitem:nth-child(odd) {
  background: #212529;
  min-width: 12rem;
  align-items: center;
  border-radius: 16px;
}
.myitem:hover {
  background: #7bb3e5;
  color: rgb(0, 0, 0);
  -moz-box-shadow: 1px 2px 3px rgba(212, 209, 209, 0.5); /* Adding shadows when hovering on tasks */
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  min-width: 14rem;
}
.myitem.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
/* Adding borders around the tasks when it gets hovered*/
.taskdiv {
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 13px;
  transition: 00.2s;
  width: 100%;
  height: 100%;
}

.taskdiv:hover {
  box-shadow: 0px 0 10px 1px #607ed1;
}

.taskdiv svg {
  transition: 0.2s;
}

.taskdiv svg:hover {
  animation: glow 1s infinite alternate; /* adding glow animation for the icons */
  fill: currentColor;
}

.taskdiv button {
  margin-top: 0.28rem;
}
/* the function for the glow */
@keyframes glow {
  from {
    box-shadow: 0px 0 10px -10px #000000;
  }
  to {
    box-shadow: 0px 0 10px 3px #0033c0;
  }
}
/* Styling the categories */
.catobject {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
  padding: 3px;

  border-radius: 10px;
}

.catobject:nth-child(odd) {
  background: #292929;
  min-width: 190px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 2px;
}

.catobject:hover {
  background: #7bb3e5;
  color: rgb(0, 0, 0);
  -moz-box-shadow: 1px 2px 3px rgba(212, 209, 209, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  min-width: 240px;
}

/* Class for NewTask and categories buttons */
.new-task {
  position: fixed;
  top: 77px;
  right: 0px;
  transition: 0.3s;
  border-radius: 5px 0px 0px 5px;
  border: #198754;
  background-color: #198754;
  color: white;
  padding: 9px;
}

.new-task:hover {
  padding-right: 30px;
}
